<div class="container">
  <div class="title">Administrador de suscripciones</div>
  <div class="options">
    <div class="button">
      <button routerLink="/subscription-form" routerLinkActive="active">Crear suscripción</button>
    </div>
    <div class="button">
      <button routerLink="">Buscar suscripción por id</button>
    </div>
    <div class="button">
      <button routerLink="/list-subscriptions">Buscar suscripciones</button>
    </div>
    <div class="button">
      <button>Borrar una suscripción</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>