/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    background-image: linear-gradient(135deg, #71B7E6, #9B59B6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}